name: "Test"
on:
  pull_request:
  push:
    branches:
      - main
      - "releases/*"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v4.1.9
      - run: npm ci
      - uses: actions/setup-python@v2
      - uses: KeisukeYamashita/setup-release@v1.0.2
        with:
          repository: rhysd/actionlint
      - uses: pre-commit/action@v2.0.3

  # unit tests
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm test
      - uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  # test action works running from the graph
  action:
    name: Action test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          token: TEST_TOKEN
      - run: git config --global --list | grep TEST_TOKEN
