name: "CI"
on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: open-turo/actions-gha/lint@v1
        with:
          github-token: ${{ secrets.OPEN_TURO_GITHUB_TOKEN }}

  # unit tests
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: open-turo/actions-gha/test@v1
        with:
          github-token: ${{ secrets.OPEN_TURO_GITHUB_TOKEN }}

  # test action works running from the graph
  action:
    name: Test / Action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          github-personal-access-token: TEST_TOKEN
      - run: git config --global --list | grep TEST_TOKEN
